{% extends "checkout/preview.html" %}
{% load currency_filters %}
{% load i18n %}
{% load thumbnail %}

{# Null out the actions as they can't be used here #}
{% block shipping_address_actions %}{% endblock %}
{% block order_contents_actions %}{% endblock %}

{% block payment_method %}
<div class="span6">
	<div class="sub-header">
		<h2>{% trans "Payment" %}</h2>
	</div>
	<div class="well well-success">
		<h4>{% trans "PayOnline" %}</h4>
		<p>
			{% blocktrans with amt=payonline_amount|currency prov=payonline_provider ref=payonline_order_id %}
			{{ amt }} has been deducted from your account via PayOnline.ru using payment type '{{ prov }}',
			PayOnline reference: {{ ref }}.
			{% endblocktrans %}
		</p>
	</div>
</div>
{% endblock %}

{% block place_order %}
<h3>{% trans "Please review the information above, then click 'Place Order'" %}</h3>
<form method="post" action="{% url 'payonline-place-order' basket.id %}">
	{% csrf_token %}
	<div class="form-actions">
		<input id='order-id' type="hidden" name="ref" value="{{ payonline_order_id }}" />
		<input id='place-order' type="submit" value="Place order" class="pull-right btn btn-primary btn-large js-disable-on-click" />
	</div>
</form>
{% endblock place_order %}
